html, body, #flashcontent {
	height:100%;
}

body 
{
    background-color: #111111;
	font-weight: bold;
	margin:0;
	padding:0;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#container {
	width: 100%;
	max-width: 900px;
	min-width: 730px;
	background-color: #ffffff;
	text-align: center;
	margin: auto;
}

#header {
	background-color: #000000;
	text-align: left;
	height: 70px;
}

#logo {
	float: left;
}

#titlebar {
	background-color: #00A4A4;
	text-align: left;
	height: 70px;
	color: #ffffff;
}

#titlebar #textDiv {
	font-size: 30px;
	font-weight: normal;
	padding: 10px;
	padding-top: 15px;
	float: left;
	min-width: 390px;
}

#titlebar #linkDiv {
	float: left;
	padding-top: 12px;
}

#contentdiv {
	width: 100%;
	max-width: 900px;
	text-align: left;
	font-size: 1em;
	color: #000000;
	line-height: 28px;
}

#content {
	height: auto;
	min-height: 450px;
}

#contentcenter {
	padding: 10px 70px;
	font-size: 1.1em;
	text-align: center;
}

#contentcenter #title
{
	color: #00A4A4;
	margin: 10px auto;
	font-size: 30px;
}

.second
{
	padding: 0px 40px;
}

#downloadapp
{
	color: #ffffff;
	margin: 20px auto 25px auto;
	border: 3px solid #666666;
	border-radius: 8px;
	padding: 8px;
	width: 580px;
	background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 76%, rgba(76,76,76,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(100%,rgba(76,76,76,1))); 
	background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 100%); 
	background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 100%); 
	background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 100%); 
	background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 76%,rgba(76,76,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c',GradientType=0 );
}
#downloadapp #imgDiv
{
	float:left;
	width: 150px;
	text-align: center;
	padding-top: 10px
}

#downloadapp #textDiv
{
	float: left;
	text-align: left;
	width: 390px;
	padding: 0 0 0 25px;
	font-size: 1.4em;
}

#downloadapp #textDiv p
{
	margin-top: 6px;
	margin-bottom: 15px;
}

.applink {
    text-decoration: none;
}
.appstoreicon {
    border: none;
    padding-top: 4px;
}

#appbutton
{
	font-family: Arial, Helvetica, sans-serif;
	width: 400px;
	margin: auto;
	margin-top: 20px;
	font-weight: normal;
}

.btnSubPre
{
	background-image: url('/Assets/siteIndexBtnBG.png');
	display:block;
	width:380px;
	height:75px;
	/*border: 3px solid #888888;*/
	border-radius: 10px;
	margin: 15px 10px;
	color: #FFFFFF;
	text-decoration: none;
}

.btnTitle
{
	font-weight: bold;
	letter-spacing: 3px;
	float: right;
	padding: 3px;
	margin: 0;
	width: 290px;
	margin-top: 22px;
	text-align: center;
}

#btnApps
{
	font-family: Verdana;
	height: 110px;
	background-image: url('/Assets/appBtnBG.png');
	background-repeat: no-repeat;
	background-color: #000000;
	font-size: 1.1em;
}


#btnApps #platforms
{
	font-size: 0.8em;
}

#btnMobileContent
{
	height: 110px;
}
#btnMobileContent img
{
	border-radius: 8px;
}

.btnSubPre_mouseOut
{
	border:3px solid #888888;
}

.btnSubPre_mouseOver
{
	border:3px solid #000000;
}


/* SPLASH STUFF */

#divSplash {
    float: left;
    font-size: 1em;
    width: 390px;
}

#divSplash a {
    text-decoration: none;
}

#divImgSplash {
    float: left;
    height: 60px;
    width: 180px;
}
#imgSplashLogo {
    float: left;
    height: 60px;
    position: relative;
    width: 180px;
    border: none;
}
#divSplashStrapText {
    float: left;
    margin-top: 32px;
    position: relative;
	color: #cccccc;
}

/* HTML5 STUFF */	
#canvasFrame {
	border: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* Compatibility check styles */
.failedImage, .warningImage
{
	padding-top: 5px;
	margin-bottom: -3px;
}

#compatibilityChecks
{
	border: 1px solid #000000;
	padding: 0px 5px 10px 5px;
	background-color: #FFC1C1;
}

#compatibilityChecks h3
{
	text-align: left;
	margin: 5px;
}

#tblCompatibilityChecks
{
	font-size: 1em;
	color: #000000;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
}

#tblCompatibilityChecks tr
{
	vertical-align: top;
	display: none;
	text-align: left;
}

#tblCompatibilityChecks tr td
{
	padding: 5px;
	line-height: 28px;
}

#tblCompatibilityChecks tr td h4
{
	margin: 0px;
}

#tblCompatibilityChecks tr td p
{
	margin: 0px;
	font-weight: normal;
}

#divProceedAnyway
{
	display: none;
	margin: auto;
	text-align: center;
}

#btnProceedAnyway
{
	cursor: pointer;
	font-family: Verdana;
	font-size: 1.1em;
	height: 75px;
	width: 220px;
	margin: auto;
	color: #ffffff;
	background-color: #000000;
	background-repeat: repeat-x;
}
